/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* BODY */
body {
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* FORM CONTAINER */
form {
    background: white;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
    width: 100%;
    height: 30%;
    max-width: 450px;
}

/* FORM HEADING */
form h2 {
    text-align: center;
    color: black;
    font-style: italic;
}

/* FORM FIELDS */
form div {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #1e293b;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #cbd5e1;
    outline: none;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #2563eb;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.3);
}

/* BUTTON */
button {
    background: #16a34a;
    color: white;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* PLACEHOLDER TEXT */
input::placeholder {
    color: #94a3b8;
    font-weight: 400;
}

